.body-container {
    min-height:100vh;
    background-color: grey;
    padding-right:0px;
    padding-left:0px;
}

.game-container {
    padding-right:0px;
    padding-left:0px;
}

.game-row {
    height:55vh;
    margin-bottom:2vh;
}


.button-row, .game-row, .score-row{
    margin-left:0px;
margin-right:0px;
}

.button-container{
    padding-right:2px;
    padding-bottom:5px;
    padding-left:10px;
}
.button-container-2{
    padding-left:2px;
    padding-bottom:5px;
    padding-right:10px;
}

.button-row{
    margin-bottom:5%;
    margin-top:5%;
}


.button-col, .score-col {
padding-right:0px;
padding-left:0px;
}

.score-col{
    border:solid 1px black;
}

.bottom-button-row {
    margin-bottom: 30px;
}
.simon-button-row{
    height:50%;
    margin-right:0px;
    padding-left:15px;
}

.simon-button {
    border: none;
    height:100%;
    width:100%;
}

.green-button {
    background-color: #009933;
    border-radius: 75% 0% 0% 0%;;
    background-image: radial-gradient(circle at 100% 100%, grey 35%, #009933 15px);
}

.red-button {
    background-color: #ff0000;
    border-radius: 0% 75% 0% 0%;
    background-image: radial-gradient(circle at 0% 100%, grey 35%, #ff0000 15px);
}

.yellow-button {
    background-color: #ffff00;
    border-radius: 0% 0% 0% 75%;
    background-image: radial-gradient(circle at 100% 0, grey 35%, #ffff00 15px);
}

.blue-button {
    background-color: #0066ff;
    border-radius: 0% 0% 75% 0%;
    background-image: radial-gradient(circle at 0 0, grey 35%, #0066ff 15px);
}

.empty-div {
    background-color: none;
}

.score-div, #simon {
    font-size: 15px;
}

.audio-div {
    display:none;
}

#simon {
    text-decoration: underline;
    display:none;
}
 #simon-hidden {
     font-size:40px;
     font-weight: 150;
     padding-right:0px;
 }

.game-col{
    padding-right:0px;
}

.remove-margin {
    margin-right:0px;
}
/*	Media Queries */

@media screen and (min-width:576px) {
    .score-div, #simon {
        font-size: 25px;
    }
}
@media screen and (min-width:768px) {
    .score-div, #simon {
        font-size: 35px;
    }
}
@media screen and (min-width:576px) {
    #simon {
        display:block;
    }
}
@media screen and (min-width:576px) {
    #simon-hidden {
        display:none;
    }
}
@media screen and (min-width:576px) {
    .game-container {
        margin-left:25%
    }
}

/* Flashes */
.greenFlash {
        background-color: #ffffff;
        background-image: radial-gradient(circle at 100% 100%, grey 35%, #ffffff 15px);
    }
.redFlash {
    background-color: #ffffff;
    background-image: radial-gradient(circle at 0% 100%, grey 35%, #ffffff 15px);
}
.yellowFlash {
    background-color: #ffffff;
    background-image: radial-gradient(circle at 100% 0, grey 35%, #ffffff 15px);
}
.blueFlash {
    background-color: #ffffff;
    background-image: radial-gradient(circle at 0 0, grey 35%, #ffffff 15px);
}